{{!-- Comment Section --}}

<div class="comments container">
  {{#each this}}
  <div class="divider"></div>
  <section class="comment">
    <div class="meta">
      <h5>{{user.username}} on {{format_date created_at}}</h5> 
    </div>
    <div class="text card-panel grey lighten-2">
      <p>
        {{comment_text}}
      </p>
    </div>
  </section>
  {{/each}}
</div>