<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plenty O' Coders</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./style-card.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  {{!-- Header And Navbar --}}
    <header>
      <nav class="nav-wrapper indigo accent-2 row">
        <a href="/" class="brand-logo right" style="margin-right: 3%;">POC</a>
        <a href="" class="sidenav-trigger button-collapse" data-activates="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
          <li>
            {{#if loggedIn}}
              <a href="/dashboard" class="right" style="margin-right: 3%;">Dashboard</a>
          </li>
          <li>
            <button id="logout" class="btn-flat indigo accent-2 right" style="color: white; padding: 15px 15px;">Logout</button>
            {{else}}
          </li>
          <li>
            <a href="/login" class="right" style="padding-right: 5%;">Login</a>
            {{/if}}
          </li>
        </ul>

        {{!-- Sidenav --}}
        <ul class="sidenav indigo accent-2" id="mobile-menu">
          <li>
            {{#if loggedIn}}
              <a href="/dashboard" class="right" style="margin-right: 3%;">Dashboard</a>
          </li>
          <li>
            <button id="logout" class="btn-flat indigo accent-2 right" style="color: white; padding: 15px 15px;">Logout</button>
            {{else}}
          </li>
          <li>
            <a href="/login" class="right" style="padding-right: 5%;">Login</a>
            {{/if}}
          </li>
        </ul>
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    {{!-- Footer --}}
    <footer>
      <h4 class='center'>Feel free to stop in for help anytime!</h4>
    </footer>
  
  {{!-- Javascript --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudfare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  
<script>
  $(document).ready(function () {
        $(".button-collapse").sidenav();
      });
</script>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>