<section>
  <h2>Got an Issue and need help? </break> Found something that may help your peers? </break> Post it here!</h2>

  <form class="new-post-form" id="post-form">
    <div>
      <label for="post-title">Titles:</label>
      <input type="text" id="post-title" name="title"/>
    </div>
    <div>
      <label for="post-question">Post your issue:</label>
      <input type="text" id="post-question" name="question"/>
    </div>
    <div>
      <label for="post-url">Link to your code</label>
      <input id="post-url" name="post_url"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>