{{!-- Dashboard --}}
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="../public/stylesheets/style-card.css">

</head>
<section>
  <h3 class="center" style="font-size: 30px;">Got an Issue and need help? </break> Found something that may help your peers? </break> Post it here!</h3>
  <br>
  <br>

  <form class="new-post-form container" id="post-form">
    <div>
      <label for="post-title" style="font-size: 30px;">Title:</label>
      <input type="text" id="post-title" name="title"/>
    </div>
    <div>
      <label for="post-question" style="font-size: 30px;">Post your issue:</label>
      <input type="text" id="post-question" name="question"/>
    </div>
    <div>
      <label for="post-url" style="font-size: 30px;">Link to your code</label>
      <input id="post-url" name="post_url"/>
    </div>
    <button type="submit" class="btn indigo accent-2">Create</button>
  </form>
</section>
<br>
<br>

{{#if posts.length}}
<section class="container">
  <h2 class="center">Your Posts</h2>
    {{#each posts as |post|}}
      {{> post-info post}}
      <div class="center">
        <a href="/dashboard/edit/{{post.id}}" class="edit-link btn deep-orange lighten-3 center" style="color: black;">Edit post</a>
      </div>
      <br>
      
    {{/each}}
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>