<h1>Login</h1>
<% if (messages.error) {%>
    <%= messages.error %>
<% } %>    
<form action="/plenty-o-coders/views/login.ejs" method="POST">
  <div>
       <label for ="name">Name</label> 
       <input type="text" id="name" name="name"
       required>
  </div>    
  <div>
    <label for ="email">Email</label> 
    <input type="email" id="email" name="email"
    required>
</div>    
<div>
    <label for ="password">Password</label> 
    <input type="password" id="password" name="password"
    required>
</div>  
<button type="submit">Login</button> 
</form>
<a href="/plenty-o-coders/views/register.ejs"