{{!-- Log In Form --}}
<h3 class="center">Log In</h3>
<form class="container login-form center-align">
  <div class="center-align">
    <label for="email-login">Email or Username:</label>
    <input type="text" id="email-login" class="center" />
  </div>
  <div class="center-align">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="center" />
  </div>
  <div>
    <button type="submit" class="btn-large indigo accent-2">Login</button>
  </div>
</form>
<br>
<br>
<br>
<br>
{{!-- Sign Up Form --}}
<h3 class="center">Create Account</h3>
<form class="container signup-form center-align">
  <div class="center-align">
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" class="center" />
  </div>
  <div class="center-align">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" class="center"/>
  </div>
  <div class="center-align">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" class="center"/>
  </div>
  <div class="center-align">
    <button type="submit" class="btn-large indigo accent-2">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>